:root {
    --first-font: 'Roboto', sans-serif;
    --second-font: 'Raleway', sans-serif;
    --first-color: #212121;
    --second-color: #757575;
    --third-color: #2196F3;
    --fourth-color: #FFFFFF;
    --first-background-color: #E5E5E5;
    --second-background-color: #2F303A;
    --third-background-color: #F5F4FA;
    --fourth-background-color: #ffffff;
    --first-cursor: pointer;
    --list-style-type: none;
}
body {
    font-family: var(--first-font);
    color: var(--first-color);
}
ul,
ol {
    list-style-type: var(--list-style-type);
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
ul,
ol,
figure,
figcaption {
    margin: 0;
    padding: 0;
}
p {
    padding: 0;
    margin: 0;
}
img {
    display: block;
}
.container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
}
/* ===========header=========== */
.section-header {
    background-color: var(--fourth-background-color);
    border-bottom: 1px solid #ECECEC;
    padding: 25px 0;
}
.container-section-header {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    align-items: center;
}
.link-items {
    display: flex;
    width: 261px;
    margin-left: 93px;
    margin-right: 350px;
    justify-content: space-between;
}
.mail-icon {
    width: 16px;
    height: 12px;
    margin-right: 10px;
}
.phone-icon {
    width: 10px;
    height: 16px;
    margin-right: 10px;
}
.contact-link {
    margin-right: 30px;
}
/* ===========main:buttons=========== */
.section-main-buttons {
    background-color: var(--first-background-color);
    padding-bottom: 20px;
    padding-top: 94px;
}
.container-main-buttons {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px; 
}
.buttons-list {
    display: flex;
    justify-content: center;
}
.btn {
    padding: 6px 22px;
    font-weight: 500;
    line-height: 26px;
    border: none;
    border-radius: 4px;
}
.buttons-item:not(:last-child) {
    margin-right: 8px;
}
/* ===========main-cards=========== */
.section-main-cards {
    background-color: var(--first-background-color);
    padding-bottom: 94px;
}
.container-main-cards {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}
.card-item {
    background-color: var(--fourth-background-color);
    border: 1px solid #EEEEEE;
    margin-top: 30px;
}
.description,
.alt {
    padding-left: 24px;
}
.alt {
    padding-bottom: 20px;
}
.description {
    padding-top: 20px;
    padding-bottom: 4px;
}
.card-item:hover {
    cursor: var(--first-cursor);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
/* ===========footer=========== */
.section-footer {
    background-color: var(--second-background-color);
}
.container-footer {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
}
.social-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 206px;
    padding-top: 20px;
    padding-bottom: 100px;
    margin-left: 70px;
    
}
.social-icon {
    width: 20px;
    height: 20px;
}
.social-link {
    display: flex;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.social-title {
    color: var(--fourth-color);
    font-size: 14px;
    font-weight: 700
}
.address-link-mail,
.address-link-phone {
    text-decoration: none;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.714;
}
.address-link-mail:hover,
.address-link-mail:focus,
.address-link-phone:hover,
.address-link-phone:focus {
    cursor:var(--first-cursor);
    color:var(--third-color);
}
.social-title {
    display: block;
    padding-left: 70px;
    padding-top: 72px;
}
.logo {
    display: block;
    padding-top: 60px;
    padding-bottom: 20px;
}
.address-link-mail {
    display: block;
    padding-top: 9px;
    padding-bottom: 9px;
}
.social-link:hover,
.social-link:focus {
    background-color: var(--third-color);
}
/* ============================ */
.hero {
    display: flex;
    flex-direction: column;
}
.section-hero {
    background-color: var(--second-background-color);
}
.title {
    padding: 200px 280px 30px;
}
.btn {
    margin: 0 auto;
}
.services {
    display: flex;
}
.service-item {
    padding: 94px 30px;
}
.specializations {
    display: flex;
}
.specialization-item {
    padding: 50px 15px 94px;
}
.head {
    text-align: center;
    padding: 94px 495px 50px;
}
.team {
    margin-bottom: -94px;
}
.team-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.picture {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 94px;
}
.name {
    text-align: center;
    padding-top: 30px
}
.alt-name {
    text-align: center;
    padding-bottom: 30px;
    color: var(--second-color);
    font-size: 16px;
    font-weight: 400px;
}
.main-team {
    background-color: var(--third-background-color);
}
.name-position {
    background-color: var(--fourth-background-color)
}
/* ============================ */

.btn:hover,
.btn:focus {
    cursor: var(--first-cursor);
    background-color: var(--third-color);
    color: var(--fourth-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.link:hover,
.link:focus {
    cursor: var(--first-cursor);
    color:var(--third-color);
}
.address-link:hover,
.address-link:focus {
    cursor:var(--first-cursor);
    color:var(--third-color);
}
.contact-link:hover,
.contact-link:focus {
    cursor:var(--first-cursor);
    color:var(--third-color);
    fill:var(--third-color);
}
.link,
.address-link,
.contact-link {
    text-decoration: none;
    font-size: 14px;
}
.link {
    color:var(--first-color)
}
.contact-link {
    color:var(--second-color);
}
.address-link {
    color:var(--fourth-color);
    line-height: 1.714;
}
.address {
    font-style: normal;
}
.logo,
.header-logo {
    text-decoration: none;
    font-size: 26px;
    font-weight: 700;
}
.logo {
    color: var(--fourth-color);
}
.header-logo {
    color:var(--first-color);
}
span {
    color:var(--third-color);
}
.alt,
.service-desc {
    color:var(--second-color);
}
.alt {
    line-height: 1.875;
}
.description {
    font-size: 18px;
    line-height: 2;
}
.btn {
    font-size: 16px;
}
.title {
    font-size: 44px;
    color:var(--fourth-color);
    text-align: center;
}
.service-name,
.service-desc {
    font-size: 14px;
}
.service-name {
    line-height: 1.172;
}
.service-desk {
    line-height: 1.714;
}
h2 {
    font-size: 36px;
}
.name {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.171;
}
